.header {
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;

    .background-contact {
        position: absolute;
        top: 45%;
        left: 50%;
        width: 34%;
        height: 222%;
        background-color: #111111;
        // background-color: #123147;
        // background-color: #f44336;
        transform: translate(-50%, -50%) rotate(90deg); 
        z-index: -1;

        @include tablet {
            width: 92%;
            height: 222%;
        }

        @include iphone-Se {
            width: 180%;
            height: 100%;
        }
    }
}

//SECCIÓN 1
.text-box__contact-help {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin: 4% -25%;

    @include iphone-12-Pro {
        width: 100%;
    }

    h1 {
        font-size: 62px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;

        @include tablet {
            font-size: 20px;
        }
    }

    .shape-container {
        position: absolute;
        top: -15%;
        right: -405px;
        transform: translateY(-50%);
        width: 650px;
        height: 463px;
        overflow: hidden;


        .shape-1 {
            position: absolute;
            top: -114px;
            right: 280px;
            width: 365px;
            height: 229px;
            background-color: #464646;
            border-radius: 190px 223px 0 0;
            transform: rotate(90deg);
        }

        .shape-2 {
            position: absolute;
            top: 216px;
            right: 366px;
            width: 212px;
            height: 102px;
            background-color: #464646;
            border-radius: 0 0 100px 100px;
        }

        .shape-3 {
            position: absolute;
            top: 326px;
            right: 368px;
            width: 197px;
            height: 101px;
            background-color:  #464646;
            border-radius: 100px 100px 0 0;
            transform: rotate(180deg);
        }

        .shape-4 {
            position: absolute;
            top: -51px;
            right: 0;
            width: 244px;
            height: 286px;
            background-color: #464646;
            border-radius: 0 160px 160px 0;
            transform: rotate(90deg);
        }

        .shape-5 {
            position: absolute;
            top: 260px;
            right: -33px;
            width: 294px;
            height: 258px;
            background-color: #f44336;
            border-radius: 0 170px 170px 0;
            transform: rotate(-90deg);
        }

        .shape-6 {
            position: absolute;
            top: 293px;
            right: 19.5px;
            width: 183px;
            height: 172px;
            background-color: #111111;
            border-radius: 0 190px 190px 0;
            transform: rotate(-90deg);
        }

        .shape-7 {
            position: absolute;
            top: 365px;
            right: 89px;
            width: 43px;
            height: 171px;
            background-color: #ffffff;
            border-radius: 0;
            transform: rotate(-90deg);
        }
    }
}

//SECCIÓN 2
.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    margin-top: 0%;
    border-radius: 30px;
    padding: 30px;

    .faq__container {
        background: #fff;
        width: 1080px;
        padding: 30px 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-radius: 15px;
        border: 1px solid #bebebe;

        @include tablet {
            width: 750px;
        }

        .faq__heading {
            display: flex;
            gap: 20px;
            text-align: center;

            h1 {
                font-weight: bold;
                font-size: 2.5rem;
                margin: 0 -2%;
                color: #111111;
            }

            i {
                color: #f44336;
                font-size: 34px;
            }
        }

        .question {
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                cursor: pointer;
            }

            i {
                color: #f44336;
                font-size: 27px;
                cursor: pointer;
            }
        }

        p {
            color: #5f5f5f;
            font-size: 16px;
            letter-spacing: 1px;
        }

        .hidden {
            display: none;
        }

        hr {
            border: 1px solid #d3d3d3;
        }
    }
}