/* ------------ variables ------------*/
// google Fonts 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
/* ------------ maps ------------*/
//map-get-colors

//color rojo: #ff6347 / #f44336 / #f23038 / #e1362a / #d13028 / #

// Definición de colores
$calming-blue: #e0f7fa; // Azul claro
$calming-green: #e0f2f1; // Verde claro
$neutral-white: #ffffff; // Blanco
$calming-gray: #f5f5f5; // Gris claro
$comfort-beige: #f5f5dc; // Beige
$official-red: #ff6347;
/* ------------ mixin ------------*/

